@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: rgba(0, 212, 255, 0.4); /* #00D4FF/40 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: rgba(0, 212, 255, 0.4); /* #00D4FF/40 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
